@charset "utf-8";
/* google-font: https://fonts.google.com/selection/embed */
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}
*{font-family: 'SUITE-Regular';}
.logo{color:rgb(91, 14, 168);font-weight: 900; font-family: 'DNFBitBitv2';}
.WCDI{color:rgb(91, 14, 168); font-family: 'DNFBitBitv2';}

@media(min-width:768px){
    .navUl{
        width: 62%;
        display: flex; justify-content: space-around;
    }.navbar-right{
        width: 30%;
        display: flex; justify-content: end;
    }.navUl li,a{
        color: rgb(39, 39, 39);
        font-size: 1.4rem;
    }.navUL li, a:hover{
        color:  rgb(91, 14, 168);
    }.icon-bar{
        transition-duration: .3s;
    }.section{
        padding:0 10%;
        box-sizing: border-box;
    }
}
@media(max-width:767px){
    .navUL li,a{
        text-align: right;
        margin-right: 10px;
        color: rgb(56, 53, 53);
    }.navUL li, a:hover{
        color:  rgb(91, 14, 168);
        transition-duration: .3s;
    }.navbar-toggle{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
        background-color: rgb(91, 14, 168);
    }.icon-bar{
        background-color: #fff;
    }.section{
        padding:0 5%;
        box-sizing: border-box;
    }
}
.navbar{
    border-radius: 0;
    border-bottom: .2px solid rgba(0, 0, 0, .2);
}
.setion-1-text h2{
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 40px;
}
.col-md-6 img{
    margin-top: 0px;
    border-radius: 10px;
}
.shadow-box{
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}@media (min-width: 992px) {
    /* .col-md-6{
      float: right;
    }.col-md-6 {
      width:50%;
    } */
    .setion-1-article{
        display: flex;
    }
    .section-1-shadow-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-1-shadow-box p{
        font-size: 1.8rem;
        line-height: 30px;
    }

}
